ASA.Core/XSDs/VATDeclarationResponse-v2-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by DecisionSoft X-Meta: generator revision 149342
Wed Jan 13 11:22:31 GMT 2010

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vat="http://www.govtalk.gov.uk/taxation/vat/vatdeclaration/2" targetNamespace="http://www.govtalk.gov.uk/taxation/vat/vatdeclaration/2" version="2.2" id="VATDeclarationResponse" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms="http://www.govtalk.gov.uk/CM/gms-xs">
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>DecisionSoft Ltd</gms:Contributor>
        <gms:Coverage>
          <gms:Spatial>UK</gms:Spatial>
        </gms:Coverage>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2006-03-13</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2010-01-13</gms:Modified>
        </gms:Date>
        <gms:Identifier>VATDeclarationResponse-2.2</gms:Identifier>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>VATDeclarationResponse</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>DirectDebitInstructionStatusType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>DirectDebitPaymentStatusType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>ElevenPointTwoDigitDecimalType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>ExtensionPartType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>NilPaymentIndicatorType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>NonEmptyToken</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>NotificationType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>PaymentRequestType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>PaymentNotificationType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>RepaymentIndicatorType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>TwoDigitDecimalType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>VATPeriodType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2001-2009</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Value Added Tax (VAT) E-Services</gms:Category>
        </gms:Subject>
        <gms:Title>VAT Declaration Response XML Schema</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="VATDeclarationResponse">
    <xsd:annotation>
      <xsd:documentation>VAT Declaration Response GovTalk Message Body</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header">
          <xsd:annotation>
            <xsd:documentation>VAT Declaration Header</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="VATPeriod" type="vat:VATPeriodType">
                <xsd:annotation>
                  <xsd:documentation>VAT Period</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element default="GBP" name="CurrencyCode" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Currency Code</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" name="ExtensionPart" type="vat:ExtensionPartType">
                <xsd:annotation>
                  <xsd:documentation>Extension Part</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Body">
          <xsd:annotation>
            <xsd:documentation>VAT Declaration Response Body</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PaymentDueDate" type="xsd:date">
                <xsd:annotation>
                  <xsd:documentation>Payment Due Date</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="VATDeclarationReference" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>VAT Declaration Reference</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ReceiptTimestamp" type="xsd:dateTime">
                <xsd:annotation>
                  <xsd:documentation>VAT Declaration Receipt Timestamp</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="PaymentNotification" type="vat:PaymentNotificationType">
                <xsd:annotation>
                  <xsd:documentation>Payment Notification</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="InformationNotification" type="vat:NotificationType">
                <xsd:annotation>
                  <xsd:documentation>Information Notification</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="ExtensionPart" type="vat:ExtensionPartType">
                <xsd:annotation>
                  <xsd:documentation>Extension Part</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute use="required" name="SchemaVersion" type="xsd:NMTOKEN">
        <xsd:annotation>
          <xsd:documentation>Schema Version</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="DirectDebitInstructionStatusType">
    <xsd:annotation>
      <xsd:documentation>Direct Debit Instruction Status</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Not Eligible For Direct Debit">
        <xsd:annotation>
          <xsd:documentation>Not Eligible for Direct Debit</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Direct Debit Not Set-up">
        <xsd:annotation>
          <xsd:documentation>Direct Debit Has Not Been Setup</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Direct Debit Not Yet Effective">
        <xsd:annotation>
          <xsd:documentation>Direct Debit Has Been Setup But Is Not Yet Effective</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DirectDebitPaymentStatusType">
    <xsd:annotation>
      <xsd:documentation>Direct Debit Payment Status</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CollectionDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Direct Debit Payment Collection Date</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ElevenPointTwoDigitDecimalType">
    <xsd:annotation>
      <xsd:documentation>Eleven Point Two Digit Decimal Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="vat:TwoDigitDecimalType">
      <xsd:maxInclusive value="99999999999.99"/>
      <xsd:minInclusive value="-99999999999.99"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ExtensionPartType">
    <xsd:annotation>
      <xsd:documentation>Extension Part</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any" processContents="strict"/>
  </xsd:complexType>
  <xsd:complexType name="NilPaymentIndicatorType">
    <xsd:annotation>
      <xsd:documentation>A Nil Payment Indicator, which indicates that the expected outcome of the VAT Declaration is a Nil Payment</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:simpleType name="NonEmptyToken">
    <xsd:annotation>
      <xsd:documentation>Non Empty Token</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NotificationType">
    <xsd:annotation>
      <xsd:documentation>A notification, containing a Narrative</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Narrative" type="vat:NonEmptyToken">
        <xsd:annotation>
          <xsd:documentation>Notification Narrative</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentRequestType">
    <xsd:annotation>
      <xsd:documentation>Payment Request</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DirectDebitInstructionStatus" type="vat:DirectDebitInstructionStatusType">
        <xsd:annotation>
          <xsd:documentation>The Direct Debit Instruction Status for the Trader at the point when this VAT Declaration was made - The purpose of this is to add context to this notification</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentNotificationType">
    <xsd:annotation>
      <xsd:documentation>Payment Notification</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="vat:NotificationType">
        <xsd:sequence>
          <xsd:element name="NetVAT" type="vat:ElevenPointTwoDigitDecimalType">
            <xsd:annotation>
              <xsd:documentation>Net VAT</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:choice>
            <xsd:element name="NilPaymentIndicator" type="vat:NilPaymentIndicatorType">
              <xsd:annotation>
                <xsd:documentation>Nil Payment Indicator</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="RepaymentIndicator" type="vat:RepaymentIndicatorType">
              <xsd:annotation>
                <xsd:documentation>Repayment Indicator</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="DirectDebitPaymentStatus" type="vat:DirectDebitPaymentStatusType">
              <xsd:annotation>
                <xsd:documentation>Direct Debit Payment Status</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="PaymentRequest" type="vat:PaymentRequestType">
              <xsd:annotation>
                <xsd:documentation>Request for Payment by other methods other than direct debit</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:element minOccurs="0" name="AASBalancingPayment">
            <xsd:annotation>
              <xsd:documentation>Amount of balancing payment due to HMRC for this VAT return, from a trader on the Annual Accounting Scheme with an effective Direct Debit Instruction in place.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="vat:ElevenPointTwoDigitDecimalType">
                <xsd:minInclusive value="0.00"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RepaymentIndicatorType">
    <xsd:annotation>
      <xsd:documentation>Repayment Indicator</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:simpleType name="TwoDigitDecimalType">
    <xsd:annotation>
      <xsd:documentation>Two Digit Decimal Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:pattern value="[\-+]?\d+\.\d{2}"/>
      <xsd:fractionDigits value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="VATPeriodType">
    <xsd:annotation>
      <xsd:documentation>VAT Period</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PeriodId" type="xsd:gYearMonth">
        <xsd:annotation>
          <xsd:documentation>VAT Period Id</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PeriodStartDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>VAT Period Start Date</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PeriodEndDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>VAT Period End Date</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
