ASA.Core/XSDs/VATDeclarationRequest-v2-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by DecisionSoft X-Meta: generator revision 149342
Wed Jan 13 11:22:31 GMT 2010

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vat="http://www.govtalk.gov.uk/taxation/vat/vatdeclaration/2" targetNamespace="http://www.govtalk.gov.uk/taxation/vat/vatdeclaration/2" version="2.2" id="VATDeclarationRequest" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms="http://www.govtalk.gov.uk/CM/gms-xs">
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>DecisionSoft Ltd</gms:Contributor>
        <gms:Coverage>
          <gms:Spatial>UK</gms:Spatial>
        </gms:Coverage>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2006-03-13</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2010-01-13</gms:Modified>
        </gms:Date>
        <gms:Identifier>VATDeclarationRequest-2.2</gms:Identifier>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>IRenvelope</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>IRheader</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>VATDeclarationRequest</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>ElevenPointTwoDigitDecimalType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>ElevenPointTwoDigitNonNegativeDecimalType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>ThirteenDigitIntegerType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>ExtensionPartType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>TwoDigitDecimalType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>vat:VATDeclarationRequest_ContactDetailsStructure</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>vat:VATDeclarationRequest_EmailType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>vat:VATDeclarationRequest_IRheaderStringType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>vat:VATDeclarationRequest_ISOcurrencyType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>vat:VATDeclarationRequest_TelephoneStructure</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>vat:VATDeclarationRequest_WorkHomeType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>vat:VATDeclarationRequest_YesNoType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2001-2009</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Value Added Tax (VAT) E-Services</gms:Category>
        </gms:Subject>
        <gms:Title>VAT Declaration Request XML Schema</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="IRenvelope">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="vat:IRheader"/>
        <xsd:element ref="vat:VATDeclarationRequest"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IRheader">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="Keys">
          <xsd:annotation>
            <xsd:documentation>This element contains identifiers for the sender of the message. Each identifier is contained within a &lt;Key&gt; element. Each &lt;Key&gt; element also contains a 'Type' attribute which describes the identifier type (e.g. &lt;Key Type='UTR'&gt;, &lt;Key Type='TaxOfficeNumber'&gt;, &lt;Key Type='TaxOfficeReference'&gt;).</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="Key">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="vat:VATDeclarationRequest_IRheaderStringType">
                      <xsd:attribute use="optional" name="Type" type="vat:VATDeclarationRequest_IRheaderStringType"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="PeriodID" type="xsd:gYearMonth"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="PeriodStart" type="xsd:date"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="PeriodEnd" type="xsd:date"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Principal">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Contact" type="vat:VATDeclarationRequest_ContactDetailsStructure"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Agent">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="AgentID">
                <xsd:annotation>
                  <xsd:documentation>This identifier is for the agent's own reference and is not the same as any agent's credentials that might be used to identify the agent to the Government Gateway.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="vat:VATDeclarationRequest_IRheaderStringType">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Company">
                <xsd:simpleType>
                  <xsd:restriction base="vat:VATDeclarationRequest_IRheaderStringType">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Address">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="4" name="Line">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="35"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="PostCode">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="8"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Country">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="35"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Contact" type="vat:VATDeclarationRequest_ContactDetailsStructure"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="DefaultCurrency">
          <xsd:simpleType>
            <xsd:restriction base="vat:VATDeclarationRequest_ISOcurrencyType">
              <xsd:enumeration value="GBP">
                <xsd:annotation>
                  <xsd:documentation>GBP</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Manifest">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Contains">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="Reference">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="1" maxOccurs="1" name="Namespace" type="xsd:anyURI"/>
                          <xsd:element minOccurs="1" maxOccurs="1" name="SchemaVersion">
                            <xsd:simpleType>
                              <xsd:restriction base="vat:VATDeclarationRequest_IRheaderStringType">
                                <xsd:maxLength value="13"/>
                                <xsd:pattern value="[0-9]{4}\-v[0-9]{1,3}\.[0-9]{1,3}(\.[0-9]{1,3})?"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element minOccurs="1" maxOccurs="1" name="TopElementName" type="xsd:NCName"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="IRmark">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute use="required" name="Type">
                  <xsd:simpleType>
                    <xsd:restriction base="vat:VATDeclarationRequest_IRheaderStringType">
                      <xsd:enumeration value="generic">
                        <xsd:annotation>
                          <xsd:documentation>generic</xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="Sender">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Individual">
                <xsd:annotation>
                  <xsd:documentation>Individual</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Company">
                <xsd:annotation>
                  <xsd:documentation>Company</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Agent">
                <xsd:annotation>
                  <xsd:documentation>Agent</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Bureau">
                <xsd:annotation>
                  <xsd:documentation>Bureau</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Partnership">
                <xsd:annotation>
                  <xsd:documentation>Partnership</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Trust">
                <xsd:annotation>
                  <xsd:documentation>Trust</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Employer">
                <xsd:annotation>
                  <xsd:documentation>Employer</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Government">
                <xsd:annotation>
                  <xsd:documentation>Government</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Acting in Capacity">
                <xsd:annotation>
                  <xsd:documentation>Acting in Capacity</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Other">
                <xsd:annotation>
                  <xsd:documentation>Other</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VATDeclarationRequest">
    <xsd:annotation>
      <xsd:documentation>VAT Declaration Request Body</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="VATDueOnOutputs" type="vat:ElevenPointTwoDigitDecimalType">
          <xsd:annotation>
            <xsd:documentation>VAT due in this period on sales and other outputs: also known as "Box 1"</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="VATDueOnECAcquisitions" type="vat:ElevenPointTwoDigitDecimalType">
          <xsd:annotation>
            <xsd:documentation>VAT due in this period on acquisitions from other EC Member States: also known as "Box 2"</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="TotalVAT" type="vat:ElevenPointTwoDigitDecimalType">
          <xsd:annotation>
            <xsd:documentation>The sum of VAT Due On Outputs ("Box 1") and VAT Due on EC Aquisitions ("Box 2"): also known as "Box 3"</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="VATReclaimedOnInputs" type="vat:ElevenPointTwoDigitDecimalType">
          <xsd:annotation>
            <xsd:documentation>VAT reclaimed in this period on purchases and other inputs (including acquisitions from the EC): also known as "Box 4"</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="NetVAT" type="vat:ElevenPointTwoDigitNonNegativeDecimalType">
          <xsd:annotation>
            <xsd:documentation>Net VAT, which may be Nil, Payable or Receivable. It should be the difference between Total VAT ("Box 3") and VAT Reclaimed on Inputs ("Box 4"). It is also known as "Box 5"</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="NetSalesAndOutputs" type="vat:ThirteenDigitIntegerType">
          <xsd:annotation>
            <xsd:documentation>Total value of sales and all other outputs excluding any VAT, inclusive of Total Supplies ("Box 8"): also known as "Box 6"</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="NetPurchasesAndInputs" type="vat:ThirteenDigitIntegerType">
          <xsd:annotation>
            <xsd:documentation>Total value of purchases and all other inputs excluding any VAT, inclusive of Total Acquisitions ("Box 9"): also known as "Box 7"</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="NetECSupplies" type="vat:ThirteenDigitIntegerType">
          <xsd:annotation>
            <xsd:documentation>Total value of supplies of goods and related costs, excluding any VAT, to other EC member states: also known as "Box 8"</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="NetECAcquisitions" type="vat:ThirteenDigitIntegerType">
          <xsd:annotation>
            <xsd:documentation>Total value of acquisitions of goods and related costs, excluding any VAT, to other EC member states: also known as "Box 9"</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="AASBalancingPayment" type="vat:ElevenPointTwoDigitNonNegativeDecimalType">
          <xsd:annotation>
            <xsd:documentation>Amount of balancing payment due to HMRC for this VAT return, from a trader on the Annual Accounting Scheme with an effective Direct Debit Instruction in place.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="ExtensionPart" type="vat:ExtensionPartType">
          <xsd:annotation>
            <xsd:documentation>Extension Part</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute use="optional" name="finalReturn">
        <xsd:annotation>
          <xsd:documentation>Indicates that the return is a final return (VAT193)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="yes"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="ElevenPointTwoDigitDecimalType">
    <xsd:annotation>
      <xsd:documentation>Eleven Point Two Digit Decimal Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="vat:TwoDigitDecimalType">
      <xsd:maxInclusive value="99999999999.99"/>
      <xsd:minInclusive value="-99999999999.99"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ElevenPointTwoDigitNonNegativeDecimalType">
    <xsd:annotation>
      <xsd:documentation>Eleven Point Two Digit Non Negative Decimal Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="vat:ElevenPointTwoDigitDecimalType">
      <xsd:minInclusive value="0.00"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ThirteenDigitIntegerType">
    <xsd:annotation>
      <xsd:documentation>13 Digit Integer Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:maxInclusive value="9999999999999"/>
      <xsd:minInclusive value="-9999999999999"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ExtensionPartType">
    <xsd:annotation>
      <xsd:documentation>Extension Part</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any" processContents="strict"/>
  </xsd:complexType>
  <xsd:simpleType name="TwoDigitDecimalType">
    <xsd:annotation>
      <xsd:documentation>Two Digit Decimal Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:pattern value="[\-+]?\d+\.\d{2}"/>
      <xsd:fractionDigits value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="VATDeclarationRequest_ContactDetailsStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Name">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Ttl">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="4"/>
                  <xsd:pattern value="[A-Za-z][A-Za-z&apos;\-]*"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="2" name="Fore">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="35"/>
                  <xsd:pattern value="[A-Za-z][A-Za-z&apos;\-]*"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sur">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="35"/>
                  <xsd:pattern value="[A-Za-z0-9 ,\.\(\)/&amp;\-&apos;]+"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Email">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="vat:VATDeclarationRequest_EmailType">
              <xsd:attribute use="optional" name="Type" type="vat:VATDeclarationRequest_WorkHomeType"/>
              <xsd:attribute use="optional" name="Preferred" type="vat:VATDeclarationRequest_YesNoType"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Telephone" type="vat:VATDeclarationRequest_TelephoneStructure"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Fax" type="vat:VATDeclarationRequest_TelephoneStructure"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="VATDeclarationRequest_EmailType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="3"/>
      <xsd:maxLength value="254"/>
      <xsd:pattern value="[^@&apos;&lt;&gt;&quot;]+@[^@&apos;&lt;&gt;&quot;]+"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VATDeclarationRequest_IRheaderStringType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z0-9 &amp;&apos;\(\)\*,\-\./]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VATDeclarationRequest_ISOcurrencyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EUR">
        <xsd:annotation>
          <xsd:documentation>Euro</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GBP">
        <xsd:annotation>
          <xsd:documentation>Sterling</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="VATDeclarationRequest_TelephoneStructure">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="Number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
            <xsd:pattern value="[0-9\(\)\-\s]{1,35}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="Extension">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
            <xsd:pattern value="[0-9]{1,6}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute use="optional" name="Type" type="vat:VATDeclarationRequest_WorkHomeType"/>
    <xsd:attribute use="optional" name="Mobile" type="vat:VATDeclarationRequest_YesNoType"/>
    <xsd:attribute use="optional" name="Preferred" type="vat:VATDeclarationRequest_YesNoType"/>
  </xsd:complexType>
  <xsd:simpleType name="VATDeclarationRequest_WorkHomeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="home"/>
      <xsd:enumeration value="work"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VATDeclarationRequest_YesNoType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="yes"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
